{% load staticfiles %}
<header class="header-area">
			<!-- HEADER-TOP START -->
			<div class="header-top hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="top-menu">
								<!-- Start Language -->
								<ul class="language">
									<li><a href="#"><img class="right-5" src="{% static 'img/flags/gb.png' %}" alt="#">English<i class="fa fa-caret-down left-5"></i></a>
{#										<ul>#}
{#											<li><a href="#"><img class="right-5" src="{% static 'img/flags/fr.png' %}" alt="#">French</a></li>#}
{#											<li><a href="#"><img class="right-5" src="{% static 'img/flags/gb.png' %}" alt="#">English</a></li>#}
{#											<li><a href="#"><img class="right-5" src="{% static 'img/flags/gb.png' %}" alt="#">English</a></li>#}
{#										</ul>#}
									</li>
								</ul>
								<!-- End Language -->
								<!-- Start Currency -->
								<ul class="currency">
									<li><a href="#"><strong>$</strong> USD<i class="fa fa-caret-down left-5"></i></a>
{#										<ul>#}
{#											<li><a href="#">$ EUR</a></li>#}
{#											<li><a href="#">$ GBP</a></li>#}
{#											<li><a href="#">$ USD</a></li>#}
{#										</ul>#}
									</li>
								</ul>
								<!-- End Currency -->
								<p class="welcome-msg">Default welcome msg!</p>
							</div>
							<!-- Start Top-Link -->
							<div class="top-link">
								<ul class="link">
{#									<li><a href="{% url 'orders' %}"><i class="fa fa-user"></i> My Orders</a></li>#}
{#									<li><a href="#"><i class="fa fa-share"></i> Checkout</a></li>#}
{##}
{#									<li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>#}
                                              {% if request.user.is_authenticated %}
                                                  <li><a href="{% url 'orders' %}"><i class="fa fa-user"></i>My Account</a></li>
                                                  {% with total_items=wishlist|length  %}
                                                      {% if wishlist|length > 0 %}
                                                      <li><a href="{% url 'wishlist_detail' %}"><i class="fa fa-heart"></i> Wish List ({{ total_items }})</a></li>
                                                          {% else %}
                                                      <li><a href="{% url 'wishlist_detail' %}"><i class="fa fa-heart"></i> Wish List (0)</a></li>
                                                      {% endif %}
                                                  {% endwith %}

                                                  <li><a href="#"><i class="fa fa-share"></i> Checkout</a></li>
                                                    <li><a href="{% url 'auth_logout' %}"><i class="fa fa-unlock-alt"></i>Logout</a></li>
                                                    {% else %}
                                                    <li><a href="{% url 'registration_register' %}"><i class="fa fa-unlock-alt"></i>Register</a></li>
                                                     {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                                                      <li >
                                                      <a href="{% url 'auth_login' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                                                          <ul class="dropdown-menu" role="menu">

                                                              <form class='navbar-form' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                                                                <div class='form-group'>
                                                                    <input type='text' class='form-control' name='username' placeholder='Username' />
                                                                </div>
                                                                <div class='form-group'>
                                                                    <input type='password' class='form-control' name='password' placeholder='Password' />
                                                                </div>
                                                                <button type='submit' class='btn btn-default btn-block'>Login</button>
                                                            </form>
                                                           <p class='text-center'><a href='{% url "auth_password_reset" %}'>Forgot password</a>?</p>

                                                          </ul>
                                                        </li>
                                                     {% endif %}

                                              {% endif %}
								</ul>
							</div>
							<!-- End Top-Link -->
						</div>
					</div>
				</div>
			</div>
			<!-- HEADER-TOP END -->
			<!-- HEADER-MIDDLE START -->
			<div class="header-middle">
				<div class="container">
					<!-- Start Support-Client -->
					<div class="support-client hidden-xs">
						<div class="row">
							<!-- Start Single-Support -->
							<div class="col-md-3 hidden-sm">
								<div class="single-support">
									<div class="support-content">
										<i class="fa fa-clock-o"></i>
										<div class="support-text">
											<h1 class="zero gfont-1">working time</h1>
											<p>Mon- Sun: 8.00 - 18.00</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-truck"></i>
									<div class="support-text">
										<h1 class="zero gfont-1">Free shipping</h1>
										<p>On order over $199</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-money"></i>
									<div class="support-text">
										<h1 class="zero gfont-1">Money back 100%</h1>
										<p>Within 30 Days after delivery</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-phone-square"></i>
									<div class="support-text">
										<h1 class="zero gfont-1">Phone: 0123456789</h1>
										<p>Order Online Now !</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
						</div>
					</div>
					<!-- End Support-Client -->
					<!-- Start logo & Search Box -->
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="logo">
								<a href="{% url 'home' %}" title="iMalas"><img src="{% static 'img/logo.png' %}" alt="iMalas"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-12">
		                    <div class="quick-access">
		                    	<div class="search-by-category">
		                    		<div class="search-container">
			                    		<select>
			                    			<option class="all-cate">All Categories</option>
                                            {% for c in categories %}
                                            <option  class="cate-item-title" >
											{{ c.title }}
											</option>
                                            {% endfor %}
			                    		</select>
		                    		</div>
		                    		<div class="header-search">
		                    			<form action="{% url 'products' %}">
			                    			<input type="text" name="q" placeholder="Search">
			                    			<button type="submit"><i class="fa fa-search"></i></button>
		                    			</form>
		                    		</div>
		                    	</div>
		                    	<div class="top-cart">
		                    		<ul>
		                    			<li>
			                    			<a href="{% url "cart" %}">
			                    				<span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
			                    				<span class="cart-total">
			                    					<span class="cart-title">shopping cart</span>
				                    				<span  class="cart-item" id="cart-count-badge" class='badge'>{{ cart_item.cart.items.count }} item(s)- </span>
				                    				<span class="cart-item" > item(s)- </span>
				                    				<span class="top-cart-price" id="top-cart-price">$ </span>
			                    				</span>
			                    			</a>
{#                             <!--Mini cart content -->#}
{#											<div class="mini-cart-content">#}
{#												<div class="cart-img-details">#}
{#													<div class="cart-img-photo">#}
{#														<a href="#"><img src="{% static 'img/product/total-cart.jpg' %}" alt="#"></a>#}
{#													</div>#}
{#													<div class="cart-img-content">#}
{#														<a href="#"><h4>Prod Aldults</h4></a>#}
{#														<span>#}
{#															<strong class="text-right">1 x</strong>#}
{#															<strong class="cart-price text-right">$180.00</strong>#}
{#														</span>#}
{#													</div>#}
{#													<div class="pro-del">#}
{#														<a href="#"><i class="fa fa-times"></i></a>#}
{#													</div>#}
{#												</div>#}
{#												<div class="clear"></div>#}
{##}
{#												<div class="cart-inner-bottom">#}
{#													<span class="total">#}
{#														Total:#}
{#														<span class="amount">$550.00</span>#}
{#													</span>#}
{#													<span class="cart-button-top">#}
{#														<a href="{% url 'cart' %}">View Cart</a>#}
{#														<a href="{% url 'checkout' %}">Checkout</a>#}
{#													</span>#}
{#												</div>#}
{#											</div>#}
{#                         <!-- Mini cart content end-->#}
		                    			</li>
		                    		</ul>
		                    	</div>
		                    </div>
		                </div>
					</div>
					<!-- End logo & Search Box -->
				</div>
			</div>
			<!-- HEADER-MIDDLE END -->
			<!-- START MAINMENU-AREA -->
			<div class="mainmenu-area shop-page">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="mainmenu hidden-sm hidden-xs">
								<nav>
									<ul>
										<li><a href="{% url 'home' %}">Home</a></li>
										<li><a href="{% url 'products' %}">Shop</a></li>
										<li class="hot"><a href="{% url 'products' %}">Bestseller Products</a></li>
										<li class="new"><a href="{% url 'products' %}">New Products</a></li>
										<li><a href="{% url 'about' %}">About Us</a></li>
										<li><a href="{% url 'contact' %}">Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN-MENU-AREA -->
			<!-- Start Mobile-menu -->
			<div class="mobile-menu-area no-margin hidden-md hidden-lg">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<nav id="mobile-menu">
								<ul>
										<li><a href="{% url 'home' %}">Home</a></li>
										<li><a href="{% url 'products' %}">Shop</a></li>
										<li class="hot"><a href="{% url 'products' %}">Bestseller Products</a></li>
										<li class="new"><a href="{% url 'products' %}">New Products</a></li>
										<li><a href="{% url 'about' %}">About Us</a></li>
										<li><a href="{% url 'contact' %}">Contact Us</a></li>
									</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- End Mobile-menu -->
		</header>