<!-- START SUBSCRIBE-AREA -->
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-7 col-xs-12">
							<label class="hidden-sm hidden-xs">Sign Up for Our Newsletter:</label>
							<div class="subscribe">
{#								<form method="post" action=" ">{% csrf_token %}#}
{#									<input type="email" name="email" placeholder="Enter Your E-mail">#}
{#									<button type="submit">Subscribe</button>#}
{#								</form>#}
                                <form method="post" action=" ">
                                    {% csrf_token %}
                                    <input type="email" placeholder="Type your email" name="email"/>
                                    <button type="submit">Subscribe</button>
{#                                    {{ sign_up_form }}#}
                                </form>
							</div>
						</div>
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="social-media">
								<a href="#"><i class="fa fa-facebook fb"></i></a>
								<a href="#"><i class="fa fa-google-plus gp"></i></a>
								<a href="#"><i class="fa fa-twitter tt"></i></a>
								<a href="#"><i class="fa fa-youtube yt"></i></a>
								<a href="#"><i class="fa fa-linkedin li"></i></a>
								<a href="#"><i class="fa fa-rss rs"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SUBSCRIBE-AREA -->