
	                    <div class="left-category-menu hidden-sm hidden-xs">
	                        <div class="left-product-cat">
	                            <div class="category-heading">
	                                <h2>categories</h2>
	                            </div>
	                            <div class="category-menu-list">
	                                <ul>
                                        <!-- Single menu start -->
                                        {% for c in categories %}

                                         <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                                        {% endfor %}
                                        <!-- Single menu end -->

	                                </ul>
	                            </div>
	                        </div>
	                    </div>